<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="content-container" layout:fragment="content">
	<div class="py-5">
		<div class="container custom-search-container">
			<form class="d-flex justify-content-center align-items-center custom-search-form"
			      th:action="@{/books/search}" method="get">
				<input type="text" name="keyword" th:value="${keyword}"
				       class="form-control me-2 custom-search-input"
				       placeholder="책 제목 또는 작가를 검색하세요">
				<button class="btn btn-outline-dark" type="submit">Search</button>
			</form>
		</div>
	</div>
	<!-- 책 상세 정보 -->
	<div class="book-info">
		<h2 class="detail-h2" th:text="${book.bookTitle}"></h2><br>
		<img class="detail-img" th:src="${book.bookImageURL}" alt="Book Image">
		<div id="LoginMemberEmail" th:text="${LoginMemberEmail}" style="display: none;"></div>
		<p th:if="${not #strings.isEmpty(book.bookAuthor)}">저자 <span class="detail-span" th:text="${#strings.replace(book.bookAuthor, ' ^ ', ', ')}"></span></p>
		<p>출판사 <span class="detail-span" th:text="${book.bookPublisher}"></span></p>
		<p>가격 <span class="detail-span"
		             th:text="${book.bookDiscount} == 0 ? '-원 (절판)' : ${#numbers.formatInteger(book.bookDiscount,3,'COMMA') + '원'}"></span>
		</p>
		<p>ISBN <span class="detail-span" id="bookIsbn" th:text="${book.bookIsbn}"></span></p><br>
		<p class="description" th:text="${book.bookDescription}"></p>
	</div>

	<!-- 리뷰 작성 폼 -->
	<div class="review-form-container" sec:authorize="isAuthenticated()" th:if="${not alreadyWrite}">
		<form id="reviewForm" class="review-form" onsubmit="submitReview(event)">
			<input type="text" id="reviewTitle" placeholder="리뷰 제목을 작성하세요" required>
			<textarea class="review-textarea" id="reviewContent" placeholder="리뷰 내용을 작성하세요" required></textarea>
			<button class="btn login-submit-btn" type="submit">리뷰 등록</button>
		</form>
	</div>

	<div class="login-review" sec:authorize="isAnonymous()">
		<p>로그인 후 리뷰를 작성할 수 있습니다. <a href="/login">로그인</a></p>
	</div>

	<!-- 리뷰 목록-->
	<div class="review-section">
		<div id="reviewList"></div>
		<div id="pagination" class="pagination"></div>
	</div>

	<!-- 리뷰 수정 폼 -->
	<div class="review-form-container" id="editReviewForm" style="display: none;">
		<form id="editForm" class="review-form">
			<input type="text" id="edit-reviewTitle" required>
			<textarea class="review-textarea" id="edit-reviewContent" required></textarea>
			<button class="btn login-submit-btn" type="button" onclick="submitEdit(event)">작성</button>
			<button class="btn login-submit-btn" type="button" onclick="cancelEdit()">취소</button>
		</form>
	</div>
	<script src="/js/detail.js"></script>
</div>
</body>
</html>