<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="header">
    <nav class="custom-navbar bg-dark py-3">
        <div class="custom-navbar-container">
            <a class="custom-navbar-logo" th:href="@{/}">Book Record</a>
            <div class="custom-navbar-buttons">
                <input type="button" sec:authorize="isAnonymous()" th:onclick="|location.href='@{/login}'|"
                       value="로그인" class="btn btn-outline-light">
                <input type="button" sec:authorize="isAnonymous()" th:onclick="|location.href='@{/signup}'|"
                       value="회원가입" class="btn btn-outline-light">
                <input type="button" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/logout}'|"
                       value="로그아웃" class="btn btn-outline-light">
                <input type="button" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/mypage}'|"
                       value="마이페이지" class="btn btn-outline-light">
            </div>
        </div>
    </nav>
</div>
</html>